/*- Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
- Dark Blue (main background): hsl(218, 28%, 13%)
- Dark Blue (footer background):  hsl(216, 53%, 9%)
- Dark Blue (testimonials background): hsl(219, 30%, 18%)*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


$footer-background:  hsl(216, 53%, 9%);
$main-background: hsl(218, 28%, 13%);
$sign-background: hsl(217, 28%, 15%);
$testimonials:hsl(219, 30%, 18%);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 1000px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    overflow-x: hidden;
    background:$testimonials;
}
header{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    #logo{
        width: 80%;
        min-width: 100px;
        &:hover{
            cursor: pointer;

        }
    }
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 1rem;
        color: rgba(255, 255, 255, 0.85);
        li{
            white-space: nowrap;
            &:nth-child(2){
                margin: 0 0.5rem;
            }
            &:hover{
                color: white;
                font-weight: 700;
                cursor: pointer;
            }
        }
        
            
    
    }
}
main{
    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-1{
        flex-direction: column;
        padding: 0 2rem;
        background: $testimonials;
        #hero{
            width: 80%;
            position: relative;
            left: 50%;
            transform: translate(-50%);

        }
        .banner{
            margin-top: 1rem;
            text-align: center;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            position: relative;
            z-index: 10;
            height: 400px;
            h1{
                max-width: 400px;
                font-size: 1.75rem;
            }
            p{
                color: rgba(255, 255, 255, 0.9);
                max-width: 450px;
                margin-bottom: 1.5rem;
            }
            button{
                padding: 1rem 5rem;
                border-radius: 50px;
                background:linear-gradient((to right,hsl(176, 68%, 64%),hsl(198, 60%, 50%)));
                color: hsl(0, 0%, 100%);
                font-weight: 500;
                border:none;

                &:hover{
                    cursor: pointer;
                    filter: brightness(120%);
                }
            }
        }
        .image{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: absolute;
            .desktop-cover{
                position: relative;
                bottom: -350px;
                display: none;
                overflow-y: hidden;
            }
            .mobile-cover{
                width: 100%;
                position: relative;
                bottom: -300px;
            }
        } 
    }
    .section-2{
        position: relative;
        z-index: 100;
        background: $main-background;
        width: 100%;

        .features{
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            width: 80%;
            max-width: 900px;

            .item{                
                margin: 5rem 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 175px;
                &:hover{
                    transform: scale(1.05);
                }
                .desc{
                    display: flex;
                    flex-direction: column;
                    align-items: center;          
                    p{
                        max-width: 80%;
                        max-width: 400px;
                        margin-top: 0.25rem;
                    }
                }

            }
        }
    }
    .section-3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $main-background;
        padding-bottom: 10rem;
        .stay-productive{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;
            img{
                position: relative;
                width: 75%;
            }
           
        }
        .productive-text{
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3{
                font-size: 1.25rem;
                text-align: center;
            }
            p{
                max-width: 75%;
                max-width: 300px;
                margin: 0.5rem 0;
            }
            .see-how{
                width: 150px;
                display: flex;
                justify-content: space-between;
                a{
                    color: hsl(176, 68%, 64%);
                    text-decoration: none;
                    border-bottom: 1px solid hsl(176, 68%, 64%);

                }
            }

        }
        
    }
    .section-4{
        background-color: $main-background;
        position: relative;
        padding-bottom: 25rem;
        .review{
            position: relative;
            height: 220px;
            padding: 2rem;
            width: 90%;
            max-width: 450px;
            margin: 0 auto;
            margin-bottom: 2rem;
            background-color: $testimonials;
            &:hover{
                transform: scale(1.05);
            }
            .quotes{
                img{
                    position: absolute;
                    width: 30px;
                    top: -20px;
                    left: 5px;
                    z-index: 1;
                }
            }
            .review-text{
                margin-bottom: 2rem;
            }
            .profile{
                display: flex;
                .picture{
                    img{
                        width: 50px;
                        border-radius: 50%;
                    }
                }
                .person{
                    margin-left: 1rem;
                }
            }
           
        }
        .early-access{
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: absolute;
            width: 80%;
            height: 400px;
            max-width: 800px;
            background-color: $testimonials;
            left: 50%;
            transform: translate(-50%);
            bottom: -100px;
            border-radius: 10px;
            .access-text{
                width: 80%;
                height: 170px;
                text-align: center;
                margin: 0 auto;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                h5{
                    font-size: 1.4rem;
                }
                p{
                    font-size: 17px;
                }
            }
            form{
                height: 110px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                input{
                    border-radius: 50px;
                    height: 3rem;
                    padding: 1rem;
                    width: 80%;
                    max-width: 400px;
                    &:focus{
                        outline: none;
                        
                    }
                }
                button{
                    width: 80%;
                    max-width: 360px;
                    height: 3rem;
                    border-radius: 50px;
                    background:linear-gradient((to right,hsl(176, 68%, 64%),hsl(198, 60%, 50%)));
                    color: hsl(0, 0%, 100%);
                    font-weight: 500;
                    border:none;

                    &:hover{
                        cursor: pointer;
                        filter: brightness(120%);
                    }
                }
             }
        }
    }
    
}
footer{
    position: relative;
    z-index: 1;
    height: 1000px;
    padding-bottom: 2rem;
    background-color: $footer-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    .container{
        height: 800px;
        width: 80%;

        p{
            &:hover{
                color: hsl(176, 68%, 64%);
                cursor: pointer;
            }
        }
        .logo{
            padding: 1rem;
        }
        .informations{
            font-size: 16px;
            display: flex;
            height: 700px;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 2rem;
            .location{
                display: flex;
                align-items: center;
                width: 95%;
                img{
                    margin: 0 1rem;
                }
            }
            .contact{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                width: 95%;
                height: 60px;
                margin: 0 auto;
                .phone{
                    display: flex;
                    img{
                        margin: 0 1rem 0 0;
                    }
                }
                .email{
                    display: flex;
                    img{
                        margin: 0 1rem 0 0;
                    }
                }
            }
            .more{
                p{
                    margin-bottom: 1rem;
                    margin-left: 0.5rem;
                }
            }
            .policy{
                p{
                    margin-bottom: 1rem;
                    margin-left: 0.5rem;
                }
            }
            .social-media{
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 0.5rem;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 1px solid gray;
                    img{
                        border-radius: 5px;

                        &:hover{
                            cursor: pointer;
                            filter: invert(52%) sepia(152%) saturate(260%) hue-rotate(116deg) brightness(91%) contrast(86%);
                            transform: scale(1.15);

                        }
                    }
                }
            }
        }

    }
}

@media only screen and (min-width: 300px) {
    .section-1{
        .image{
            .mobile-cover{
                top: 250px;
            }
        }
    }

}

@media only screen and (min-width: 500px) {
    .section-1{
        .image{
            .mobile-cover{
                top: 350px;
            }
        }
    }

}

@media only screen and (min-width: 1050px) {
    header{
        max-width: 1500px;
        position: relative;
        left: 50%;
        transform: translate(-50%);

        #logo{
            width: 100%;
        }
        .nav{
            width: 225px;
            
        }
    }
    main{
        .section-1{
            .banner{
                h1{
                    font-size: 2rem;
                    max-width: 700px;
                }
            }
            .image{
                .mobile-cover{
                    display: none;
                }
                .desktop-cover{
                    display: block;
                }
            }
        }
        .section-2{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .features{
                justify-content: space-between;

            }
      
        }
        .section-3{
            flex-direction: row;
            .stay-productive{
                img{
                    width: 100%;
                }

            }
            .productive-text{
                width: auto;
                margin-left: 5rem;
                align-items: flex-start;
                h3{
                    font-size: 2rem;
                    max-width: 50%;
                    text-align: left;
                }
                p{
                    max-width: 90%;
                }
            }
            
        }
        .section-4{
            padding-bottom: 20rem;
            .reviews{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width: 90%;
                max-width: 1600px;
                .review{
                    width: 30%;
                    height: 225px;
                    .quotes{
                        img{
                            width: 50px;
                            top: -40px;
                        }
                    }
                }
            }
            .early-access{
                height: 250px;
                box-sizing: content-box;
                bottom: -150px;
                padding: 2rem;
                .access-text{
                    h5{
                        font-size: 2rem;
                    }
                }
                form{
                    flex-direction: row;
                    justify-content: space-around;
                    width: 95%;
                    margin: 0 auto;
                    input{
                        margin-right: 1rem;
                        
                    }
                }
            }
        }        
    } 
    footer{
        height: 600px;
        padding:0;
        flex-direction: row;
        justify-content: center;
        .container{
            height: 350px;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 2200px;
            .informations{
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 200px;
                .location{
                    height: 100px;
                    width: 60%;
                    p{
                        width: 80%;
                    }
                }
                .contact{
                    width: 30%;
                }
                .more{
                    width: 25%;
                    p{
                        margin: 1rem auto;
                        width: 80px;
                    }

                }
                .policy{
                    width: 30%;

                }
                .social-media{
                    flex-direction: row;
                    width: 30%;
                    height: 100px;
                }
            }
           
        }
    }
  }

